/* styling the horizontal line element */
hr.new1 {
    border-top: 2px solid green;
    width: 200%
   }
/* body{
    background-image: url("/starter/Images/HD-wallpaper-earth-ocean-horizon.jpg");
    background-size: cover;
} */