/* styling the horizontal line element */
/* hr.new1 {
  border-top: 2px solid green;
  width: 200%;
  grid-area: 1 / 1 / 2 / 2;
} */

.bg-image {
  background-image: url('../Images/Background.jpg');
  height: 100vh;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Prevent tiling of the image */
  background-size: cover;
  /* Cover the entire area of the element */
} 

#search-input{
  width:  100%; /* Set the button width to  100% of its container*/
  height: 40px;
}